@import url("https://p.typekit.net/p.css?s=1&k=lwm2jkk&ht=tk&f=52098.52100&a=1532853&app=typekit&e=css");

@font-face {
    font-family: "avenir";
    src: url("assets/fonts/avenir/AvenirLTProRoman.otf") format("otf");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

.tk-thirsty-rough-two {
    font-family: "thirsty-rough-two", sans-serif;
}

body {
    background-color: #f3f3e5;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

.max-w-xs {
    max-width: unset;
}

p {
    margin-bottom: 1.125rem;
}
